In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [3]:
#notify me when a long running cell is complete
%load_ext jupyternotify
import time

In [4]:
data = pd.read_csv('data/final_df.csv')
data = data.drop(['Unnamed: 0'], axis=1)
data.head()

   mid  cust_id  rating      r_date  r_fiscQ  m_decade m_quality
0    1  1488844     3.0  2005-09-06        4      2000         a
1    1   822109     5.0  2005-05-13        2      2000         a
2    1   885013     4.0  2005-10-19        4      2000         a
3    1    30878     4.0  2005-12-26        4      2000         a
4    1   823519     3.0  2004-05-03        2      2000         a

In [5]:
def m_quality_fix(row):
    '''
    fixes categorical vars in m_quality
    '''
    
    if row['m_quality'] == 'd':
        return 4
    elif row['m_quality'] == 'c':
        return 3
    elif row['m_quality'] == 'b':
        return 2
    elif row['m_quality'] == 'a':
        return 1

In [6]:
data['m_quality'] = data.apply(m_quality_fix, axis=1)
data.head()

   mid  cust_id  rating      r_date  r_fiscQ  m_decade  m_quality
0    1  1488844     3.0  2005-09-06        4      2000          1
1    1   822109     5.0  2005-05-13        2      2000          1
2    1   885013     4.0  2005-10-19        4      2000          1
3    1    30878     4.0  2005-12-26        4      2000          1
4    1   823519     3.0  2004-05-03        2      2000          1

In [7]:
def decade_fix(row):
    """
    scales down decade
    """
    if row['m_decade'] == 0:
        return 0
    elif row['m_decade'] == 1960:
        return 1
    elif row['m_decade'] == 1970:
        return 2
    elif row['m_decade'] == 1980:
        return 3
    elif row['m_decade'] == 1990:
        return 4
    elif row['m_decade'] == 2000:
        return 5

In [8]:
data['m_decade'] = data.apply(decade_fix, axis=1)
data.head()

   mid  cust_id  rating      r_date  r_fiscQ  m_decade  m_quality
0    1  1488844     3.0  2005-09-06        4         5          1
1    1   822109     5.0  2005-05-13        2         5          1
2    1   885013     4.0  2005-10-19        4         5          1
3    1    30878     4.0  2005-12-26        4         5          1
4    1   823519     3.0  2004-05-03        2         5          1

In [9]:
%notify

# Train  Test Split

temporal split

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100480507 entries, 0 to 100480506
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   mid        int64
 1   cust_id    int64
 2   rating     float64
 3   r_date     object
 4   r_fiscQ    int64
 5   m_decade   int64
 6   m_quality  int64
dtypes: float64(1), int64(5), object(1)
memory usage: 5.2+ GB

In [11]:
data['r_date'] = data['r_date'].astype('datetime64[ns]')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100480507 entries, 0 to 100480506
Data columns (total 7 columns):
 #   Column     Dtype
---  ------     -----
 0   mid        int64
 1   cust_id    int64
 2   rating     float64
 3   r_date     datetime64[ns]
 4   r_fiscQ    int64
 5   m_decade   int64
 6   m_quality  int64
dtypes: datetime64[ns](1), float64(1), int64(5)
memory usage: 5.2 GB

In [12]:
data = data.sort_values(by=['r_date'])
data

            mid  cust_id  rating     r_date  r_fiscQ  m_decade  m_quality
56431994  10341   510180     4.0 1999-11-11        4         4          1
9056171    1798   510180     5.0 1999-11-11        4         3          1
58698779  10774   510180     3.0 1999-11-11        4         2          1
48101611   8651   510180     2.0 1999-11-11        4         5          2
81893208  14660   510180     2.0 1999-11-11        4         4          2
...         ...      ...     ...        ...      ...       ...        ...
49939086   8993  2183787     4.0 2005-12-31        4         5          1
42072268   7430   258170     4.0 2005-12-31        4         5          1
47098649   8467  1534359     5.0 2005-12-31        4         4          2
55621336  10168  2543295     2.0 2005-12-31        4         5          3
25464092   4736  1346243     5.0 2005-12-31        4         3          1

[100480507 rows x 7 columns]

In [13]:
testsize = round(len(data) * 0.2)
testsize

20096101

In [14]:
#split based on time
df_train = data[:-testsize]
df_test = data[-testsize:]

In [15]:
df_train

            mid  cust_id  rating     r_date  r_fiscQ  m_decade  m_quality
56431994  10341   510180     4.0 1999-11-11        4         4          1
9056171    1798   510180     5.0 1999-11-11        4         3          1
58698779  10774   510180     3.0 1999-11-11        4         2          1
48101611   8651   510180     2.0 1999-11-11        4         5          2
81893208  14660   510180     2.0 1999-11-11        4         4          2
...         ...      ...     ...        ...      ...       ...        ...
4425817     862  1797061     3.0 2005-08-08        3         5          2
59747678  10986  1498715     5.0 2005-08-08        3         5          3
83182974  14861   500016     4.0 2005-08-08        3         5          2
32637774   5926  1044015     5.0 2005-08-08        3         5          1
32637772   5926  2294429     2.0 2005-08-08        3         5          1

[80384406 rows x 7 columns]

In [16]:
df_test

            mid  cust_id  rating     r_date  r_fiscQ  m_decade  m_quality
55518921  10158  1743373     4.0 2005-08-08        3         4          2
96207802  17064   381625     5.0 2005-08-08        3         3          2
7239677    1443  1252933     5.0 2005-08-08        3         3          1
6107277    1201  1434500     4.0 2005-08-08        3         4          3
55519173  10158   976679     3.0 2005-08-08        3         4          2
...         ...      ...     ...        ...      ...       ...        ...
49939086   8993  2183787     4.0 2005-12-31        4         5          1
42072268   7430   258170     4.0 2005-12-31        4         5          1
47098649   8467  1534359     5.0 2005-12-31        4         4          2
55621336  10168  2543295     2.0 2005-12-31        4         5          3
25464092   4736  1346243     5.0 2005-12-31        4         3          1

[20096101 rows x 7 columns]

In [17]:
train_table = df_train.pivot(index='cust_id', columns='mid', values='rating')
train_table.head()

/var/folders/xc/4fn08svj2dgdk_3wj3xkp_rr0000gn/T/ipykernel_2966/3096049025.py:1: PerformanceWarning: The following operation may generate 7057434384 cells in the resulting pandas object.
  train_table = df_train.pivot(index='cust_id', columns='mid', values='rating')

mid,1,2,3,4,5,6,7,8,9,10,...,17761,17762,17763,17764,17765,17766,17767,17768,17769,17770
cust_id,,,,,,,,,,,,,,,,,,,,,
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
test_table = df_test.pivot(index='cust_id', columns='mid', values='rating')
test_table.head()

/var/folders/xc/4fn08svj2dgdk_3wj3xkp_rr0000gn/T/ipykernel_2966/2747781294.py:1: PerformanceWarning: The following operation may generate 6202733184 cells in the resulting pandas object.
  test_table = df_test.pivot(index='cust_id', columns='mid', values='rating')

mid,1,2,3,4,5,6,7,8,9,10,...,17761,17762,17763,17764,17765,17766,17767,17768,17769,17770
cust_id,,,,,,,,,,,,,,,,,,,,,
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
train_table.to_csv('data/train.csv')

In [21]:
test_table.to_csv('data/test.csv')

In [22]:
%notify

In [24]:
test = train_table[1]
test.head()

cust_id
6    NaN
7    NaN
10   NaN
25   NaN
33   NaN
Name: 1, dtype: float64

In [25]:
test.mean()

3.7189873417721517

In [27]:
test.fillna(3.7)

cust_id
6          3.7
7          3.7
10         3.7
25         3.7
33         3.7
          ...
2649404    3.7
2649409    3.7
2649421    3.7
2649426    3.7
2649429    3.7
Name: 1, Length: 405041, dtype: float64

In [ ]:
scaler = MinMaxScaler()
scaler.fit(train_table)

In [ ]:
train_scaled = scaler.fit_transform(train_table)

In [ ]:
train_scaled = train_scaled.fillna(.5)
train_scaled

In [ ]:
%notify